In [2]:
import pandas as pd
import numpy as np

In [15]:
df = pd.read_csv('~/Desktop/Excel/Fortune-500.csv')

In [16]:
df.columns

Index(['Rank', 'Company Name', 'Number of Employees', 'Change in \nRank',
       '2018 Revenues\n($millions)', 'Revenue  change from 2017\nChange',
       ' 2018 Profits\n($millions)', 'Profit  change from 2017\nChange',
       'Assets\n($millions)', 'Market Value \nAs of 3/29/19 ($m)'],
      dtype='object')

In [17]:
df

,Rank,Company Name,Number of Employees,Change in \nRank,2018 Revenues\n($millions),Revenue change from 2017\nChange,2018 Profits\n($millions),Profit change from 2017\nChange,Assets\n($millions),Market Value \nAs of 3/29/19 ($m)
0,1,Walmart,"2,200,000",-,"$514,405",2.8%,"$6,670.0",-32.4%,"$219,295","$279,880"
1,2,Exxon Mobil,"71,000",-,"$290,212",18.8%,"$20,840.0",5.7%,"$346,196","$342,172"
2,3,Apple,"132,000",1,"$265,595",15.9%,"$59,531.0",23.1%,"$365,725","$895,667"
3,4,Berkshire Hathaway,"389,000",-1,"$247,837",2.4%,"$4,021.0",-91.1%,"$707,794","$493,870"
4,5,Amazon.com,"647,500",3,"$232,887",30.9%,"$10,073.0",232.1%,"$162,648","$874,710"
...,...,...,...,...,...,...,...,...,...,...
495,496,Simon Property Group,"4,150",-3,"$5,658",2.2%,"$2,440.1",25.3%,"$30,686","$56,302"
496,497,Navient,"6,500",-,"$5,610",8.3%,$395.0,35.3%,"$104,176","$2,829"
497,498,Western Union,"12,000",-4,"$5,590",1.2%,$851.9,-,"$8,997","$8,051"
498,499,Peabody Energy,"7,400",-8,"$5,582",0.1%,$646.9,-,"$7,424","$3,066"
499,500,Levi Strauss,"15,100",-,"$5,575",13.7%,$283.1,0.6%,"$3,543","$9,208"